
<div class="btn-toolbar">
        <div class="btn-group btn-group-lg" style="margin-left: 40%; margin-right: 40%">
            <button id="publish_left" type="button"  class="btn btn-primary"> TV left</button>
            <button id="publish_right" type="button" class="btn btn-primary">TV right </button>
        </div>
</div>
<br/>
<!--
<script>
$(function(){

    $.getJSON("/ajax/load/list").done(function(data){
        //alert(data);
        for (tmp of data)
            $('#plist').append('<option>' + tmp + '</option>');
    });

});
</script>
-->
<div  style="inline-block; margin-right: auto; margin-left: auto;">
    <div>
        <select id="plist" multiple="yes" style="width: 40%; position: fixed; left: 5%" size="10">

        </select>
    </div>
    <div>
        <select multiple=yes style="width: 40%; position: fixed; right: 5%" size=10>
        <option value="a">a</option>
        <option value="b">b</option>
        <option value="c">c</option>
        <option value="d">d</option>
        </select>
    </div>
</div>
<!--
        <br/>
		<button type="button" class="btn btn-primary" data-toggle="button">Add <span class="glyphicon glyphicon-plus"></span></button>
		<br/>
		<button type="button" class="btn btn-primary" data-toggle="button">Remove <span class="glyphicon glyphicon-minus"></span></button>
        <br/>
		<a href="#">
		<span class="glyphicon glyphicon-forward"></span>
        </a>
		<br/>
		<a href="#">
		<span class="glyphicon glyphicon-backward"></span>
        </a>
        <br/>
		<button type="button" class="btn btn-primary" data-toggle="button">Commit <span class=" glyphicon glyphicon-ok"></span></button>
        -->