<div class="container">
<button type="button" class="btn btn-primary btn-lg btn-block">TV right   <span class="glyphicon glyphicon-arrow-right"></span></button>
<button type="button" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-arrow-left"></span> TV left</button>
</div>
<br/>

<div class="col-sm-6 col-md-7 col-lg-6"> 
    <a href="#" class="thumbnail">
        <div class="caption">
            Stock<br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="image">
            <img src="" class="img img-responsive full-width" />
        </div>
    </a>
</div>

<div class="col-sm-6 col-md-7 col-lg-6">
    <a href="#" class="thumbnail">
        <div class="caption">
            Playlist<br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
        <div class="image">
            <img src="" class="img img-responsive full-width" />
        </div>
    </a>
</div>
        <br/>
                      <button type="button" class="btn btn-primary" data-toggle="button">Add <span class="glyphicon glyphicon-plus"></span></button>
                <br/>
                      <button type="button" class="btn btn-primary" data-toggle="button">Remove <span class="glyphicon glyphicon-minus"></span></button>
        <br/>
                <a href="#">
          <span class="glyphicon glyphicon-forward"></span>
        </a>
                <br/>
                <a href="#">
          <span class="glyphicon glyphicon-backward"></span>
        </a>
        <br/>
            <button type="button" class="btn btn-primary" data-toggle="button">Commit <span class=" glyphicon glyphicon-ok"></span></button>