



<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-5  text-center">
            <div class="btn-toolbar">
                <div class="btn-group btn-group-lg">
                    <button id="tv_left" type="button"  class="btn btn-primary"> TV left</button>
                    <button id="tv_right" type="button" class="btn btn-primary">TV right </button>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4 col-md-offset-4  text-center">
            <button id="publish" type="button" class="btn btn-primary">Publish</button>
        </div>
    </div>

    <br/>
<!--
<script>
$(function(){

    $.getJSON("/ajax/load/list").done(function(data){
        //alert(data);
        for (tmp of data)
            $('#plist').append('<option>' + tmp + '</option>');
    });

});
</script>
-->
    <div class="row">
        <div class="col-md-4  col-md-offset-2 text-left">
            Choose a Playlist to publish on TV <span class='side'>left</span>:<br />
            <select id="plist" multiple="yes" style="width: 100%;" size="10"></select>
        </div>
        <div class="col-md-4 text-left">
            Currently playing on TV <span class='side'>left</span>:<br />
            <select id="slist" name="slist" multiple=yes style="width: 100%;" size=10>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
            </select>
        </div>
    </div>

</div>
