
<br/>
<div style="position:relative">    
    <select id="plist" onselect="tt()" class="form-control" style="width: 40%; position:absolute right:0">
    </select>
</div>
<br/>
<div  style="inline-block; margin-right: auto; margin-left: auto;">
    <div>
        <select id="video" multiple="yes" style="width: 40%; position: fixed; left: 5%" size="10">
        </select>
    </div>
    <div>
        <select id="lala" multiple=yes style="width: 40%; position: fixed; right: 5%" size="10">
        </select>
    </div>
</div>
