
<br/>
<script>
$(function(){

    $.getJSON("/ajax/load/video").done(function(data){
        //alert(data);
        for (tmp of data)
            $('#video').append('<option>' + tmp + '</option>');
    });

});
</script>
<div  style="inline-block; margin-right: auto; margin-left: auto;">
    <div>
        <select id="video" multiple="yes" style="width: 40%; position: fixed; left: 5%" size="10">

        </select>
    </div>
    <div>
        <select multiple=yes style="width: 40%; position: fixed; right: 5%" size=10>
        <option value="a">a</option>
        <option value="b">b</option>
        <option value="c">c</option>
        <option value="d">d</option>
        </select>
    </div>
</div>