<div class="bs-example">
    <h1>Create Playlist</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Playlist Name:</label>
            <div class="col-xs-9">
                <input type="name" class="form-control" id="inputName" placeholder="Playslist Name">
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Author:</label>
            <div class="col-xs-9">
                <input type="author" class="form-control" id="inputAuthor" placeholder="Author">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
	</form>
</div>    