<div class="bs-example">
    <h1>Create Playlist</h1>
    <form action="/video/create/execute" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3" for="inputName">Playlist Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="inputName" placeholder="Playlist Name">
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-xs-3" for="inputAuthor">Author:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="inputAuthor" placeholder="Author">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
	</form>
</div>    